body {
  font-family: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.hero {
  padding: 100px 0px 80px;
}
.hero__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.hero__content .hero__title {
  width: 100%;
  font-size: 28px;
  color: #1e1e1e;
  margin-bottom: 20px;
}
.hero__content .hero__decs {
  font-size: 15px;
  margin-bottom: 30px;
  color: #777777;
  max-width: 450px;
  letter-spacing: 1px;
}
.hero__items {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.header {
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  height: 80px;
  line-height: 80px;
  z-index: 10;
  background-color: #fff;
}
.header__logo {
  position: relative;
  z-index: 100;
}
.header__nav {
  position: absolute;
  right: 15px;
  display: inline-block;
}
.header__nav li {
  list-style-type: none;
}
.header__nav a {
  color: #000;
  text-decoration: none;
}
.header__nav a:hover {
  color: #ff589e;
}
.header__bars, .header__close {
  display: none;
  position: absolute;
  right: 20px;
  top: 0;
  font-size: 32px;
  cursor: pointer;
}

@media (max-width: 992px) {
  .header__nav {
    display: none;
    width: 100%;
    text-align: center;
    background-color: #fff;
    border-radius: 40px;
    padding-top: 80px;
    margin-right: -15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  }
  .header__nav.show-nav {
    display: inline-block;
  }
  .header__nav ul {
    display: block;
    width: 100%;
  }
  .header__nav ul li {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 50px;
    height: 50px;
    width: 100%;
  }
  .header__nav ul li a {
    display: block;
    width: 100%;
  }
  .header__bars {
    display: block;
  }
  .header__bars.close {
    display: none;
  }
  .header__close.open {
    display: block;
  }
}
.home {
  background: url(../img/banner-bg.png) center bottom/cover no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.home .home__content {
  color: #fff;
  margin-top: 220px;
  max-width: 640px;
}
.home .home__content h3 {
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.home .home__content p {
  margin-bottom: 40px;
}
.home .home__content-btn {
  color: #fff;
  background-color: #ff589e;
  padding: 12px 20px;
  border-radius: 20px;
  text-decoration: none;
}
.home .home__items {
  justify-content: center;
  padding-top: 50px;
}
.home .home__items-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  min-height: 260px;
}
.home .home__items-box div {
  background-color: #8261ee;
  border-radius: 50%;
  margin: 0px 70px 30px;
  width: 90px;
  height: 90px;
}
.home .home__items-box div img {
  margin-top: 20px;
}
.home .home__items-box h6 {
  width: 100%;
  margin-bottom: 15px;
  font-size: 18px;
  color: #1e1e1e;
}
.home .home__items-box p {
  color: #777777;
  font-size: 13px;
}

.about .section {
  padding-top: 100px;
  padding-bottom: 100px;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
.about .section .about__img {
  text-align: center;
  padding: 0px 60px;
}
.about .section .about__content {
  max-width: 450px;
  margin-top: 30px;
}
.about .section .about__content h4 {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 400;
}
.about .section .about__content p {
  color: #777777;
  letter-spacing: 0.5px;
}

@media (max-width: 992px) {
  .about .section {
    flex-wrap: wrap;
    justify-content: center;
  }
  .about .section .about__content {
    max-width: 90%;
  }
}
.work-process {
  background: url(../img/work-process-bg.png) center bottom/cover no-repeat;
}
.work-process__content {
  padding: 20px 0px;
}
.work-process__content .work-process__title {
  color: #fff;
}
.work-process__content .work-process__decs {
  color: #fff;
}
.work-process__items {
  justify-content: center;
}
.work-process__items .work-process__box {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 20px;
  position: relative;
  z-index: 0;
  transition: transform 0.3s ease;
}
.work-process__items .work-process__box img {
  margin-bottom: 15px;
}
.work-process__items .work-process__box h6 {
  font-size: 17px;
  color: #1e1e1e;
  margin: 20px 0px 5px;
}
.work-process__items .work-process__box p {
  font-size: 14px;
  color: #777777;
}
.work-process__items .work-process__box:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #fff;
  width: 100%;
  opacity: 0.15;
  height: 100%;
  bottom: -10px;
  left: 0px;
  right: -20px;
  margin: auto;
  border-radius: 20px;
}
.work-process__items .work-process__box:hover {
  transform: translateY(-10px);
}

.testimonials__box {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  min-height: 300px;
  margin-bottom: 30px;
}
.testimonials__box img {
  margin-top: 25px;
}
.testimonials__box .box__decs {
  color: #777777;
  font-size: 15px;
  padding: 0px 15px;
  margin: 25px 0px;
}
.testimonials__box .box__name {
  font-size: 17px;
  color: #1e1e1e;
  margin-bottom: 5px;
}
.testimonials__box .box__position {
  color: #ff589e;
  font-size: 15px;
}

.pricing-tablets {
  background-color: #f2f2fe;
}
.pricing-tablets__items > div:first-child .pricing-tablets__box ul li:nth-child(4),
.pricing-tablets__items > div:first-child .pricing-tablets__box ul li:nth-child(5),
.pricing-tablets__items > div:first-child .pricing-tablets__box ul li:nth-child(6) {
  text-decoration: line-through;
}
.pricing-tablets__items > div:nth-child(2) .pricing-tablets__box ul li:nth-child(5),
.pricing-tablets__items > div:nth-child(2) .pricing-tablets__box ul li:nth-child(6) {
  text-decoration: line-through;
}
.pricing-tablets__items > div:nth-child(2) .pricing-tablets__box .box__price {
  background-color: #ff589e;
}
.pricing-tablets__box {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  margin: 20px 0px 30px;
  padding: 30px 0px 40px;
  background-color: #fff;
}
.pricing-tablets__box .box__name {
  font-size: 17px;
  padding-bottom: 10px;
  font-weight: 600;
}
.pricing-tablets__box .box__price {
  background-color: #8261ee;
  margin: 5px 29px 40px;
  border-radius: 20px;
  color: #fff;
  height: 100px;
  padding: 20px 0px 13px;
}
.pricing-tablets__box ul {
  padding: 0px;
}
.pricing-tablets__box ul li {
  list-style-type: none;
  color: #7a7a7a;
  margin-bottom: 12px;
  font-size: 13px;
}
.pricing-tablets__box .box__pay {
  border: none;
  background-color: #8261ee;
  font-size: 13px;
  cursor: pointer;
  border-radius: 25px;
  color: #fff;
  padding: 12px 20px;
  height: 48px;
}
.pricing-tablets__box .box__pay:hover {
  background-color: #ff589e;
}

.counter {
  background: url(../img/fun-facts-bg.png) center/cover no-repeat;
}
.counter__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  color: #fff;
}
.counter__wrap .box {
  transition: transform 0.3s ease;
}
.counter__wrap .box:hover {
  transform: translateY(-10px);
}
.counter__wrap-number {
  font-size: 36px;
  font-weight: 700;
  margin-top: 20px;
}
.counter__wrap-decs {
  font-size: 17px;
  margin-bottom: 20px;
}
.counter__wrap img {
  height: 20px;
  width: 70px;
  margin-top: 45px;
}

@media (max-width: 992px) {
  .counter__wrap img {
    display: none;
  }
}
.blog-entries__box img {
  width: 100%;
}
.blog-entries__box-content {
  padding: 30px 0px;
}
.blog-entries__box-content .title {
  margin-bottom: 20px;
  font-size: 18px;
  color: #212529;
}
.blog-entries__box-content .decs {
  font-size: 13px;
  color: #777777;
}
.blog-entries__box-btn {
  border: none;
  border-radius: 20px;
  background-color: #8261ee;
  padding: 12px 20px;
  color: #fff;
  font-size: 13px;
  margin-bottom: 50px;
}
.blog-entries__box-btn:hover {
  background-color: #ff589e;
}

.contact {
  background-color: #f2f2fe;
}
.contact__wrap {
  display: flex;
  justify-content: space-between;
}
.contact__wrap-info {
  max-width: 35%;
}
.contact__wrap-info .title {
  font-size: 18px;
  margin-bottom: 30px;
  color: #1e1e1e;
}
.contact__wrap-info .decs {
  font-size: 14px;
  color: #6f8ba4;
  margin-bottom: 28px;
  letter-spacing: 1px;
}
.contact__wrap-form {
  width: 55%;
}
.contact__wrap-form textarea {
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 20px;
  border: none;
  height: 150px;
  width: 100%;
}
.contact__wrap-form .form-ctl {
  width: 100%;
}
.contact__wrap-form .form-ctl input {
  margin-bottom: 30px;
  padding: 6px 20px;
  border-radius: 20px;
  border: none;
  height: 50px;
  width: 49%;
}
.contact__wrap-form button {
  border: none;
  background-color: #8261ee;
  font-size: 13px;
  padding: 12px 20px;
  color: #fff;
  border-radius: 20px;
}
.contact__wrap-form button:hover {
  background-color: #ff589e;
}

@media (min-width: 787px) and (max-width: 992px) {
  .contact__wrap-info {
    max-width: 50%;
  }
  .contact__wrap-form .form-ctl input {
    width: 100%;
  }
}
@media (max-width: 786px) {
  .contact__wrap {
    flex-wrap: wrap;
  }
  .contact__wrap-info {
    max-width: 100%;
  }
  .contact__wrap-form {
    width: 100%;
  }
  .contact__wrap-form .form-ctl input {
    width: 100%;
  }
}
.footer {
  background-image: linear-gradient(127deg, rgb(167, 89, 209) 0%, rgb(130, 97, 238) 91%);
  padding-top: 30px;
}
.footer__social {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.footer__social li {
  list-style-type: none;
  margin: 0px 10px;
  font-size: 30px;
}
.footer__social li a {
  text-decoration: none;
  color: #fff;
}
.footer__copyright {
  display: flex;
  justify-content: center;
  color: #fff;
  text-align: center;
  padding: 20px 0px;
  font-size: 12px;
}

/*# sourceMappingURL=style.css.map */
